* {
    margin: 0;
    padding: 0;

}

.image{
    background-image: url(../img/assets/backgrounds/h_img.jpg);
    padding: 150px;
    margin: 70px;
    background-position: center;
    background-size: 100%,100%;
    background-repeat: no-repeat;

}
h1{
    text-align: center;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 70px;

}
p{
    text-align: center;
    color: #fff;
    font-size: 12px;
}
img[class="img1"]{
    margin-left: 45%;
    margin-top: 10%;
    margin-bottom: 5%;
}
img[id="img2"]{
    margin-left: 48%;
    margin-top: 10%;
    margin-bottom: 5%;
}

h2{
    text-align: center;
    font-size: 67px;
}
p[class="ped"]{
    color: black;
    font-size: 15px;
}
div[class="services"]{
    background-image: url(../img/assets/backgrounds/s_image.jpg);
    background-size: 100%,100%;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
p[class="fen"]{
    font-size: 15px;
}
div[id="design"]{
    margin-left: 6%;
}
div[id="development"]{
    margin-left: 42%;
    margin-top: -24%;
}
div[id="product"]{
    margin-left: 77%;
    margin-top: -24%;
}
h1[class ="what"]{
    color: black;
    font-size: 66px;
    

}
h1[class="contact"]{
    color: black;
    font-size: 47px;
    font-family: 'Lato', sans-serif;
}
p[class="black"]{
    color: black;
    font-size: 17px;
}
input{
    border-radius: 5px;
}
input[id="name"]{
    width: 30%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);

}
textarea {
    border-radius: 5px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    margin-top: 1%;
}
input[id="email"] {
    width: 30%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}
div[id ="us"]{
    background-image: url(../img/assets/backgrounds/c_image.jpg);
    background-size: 100%,100%;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    padding: 100px;
    margin: 40px;
}
h1[class="contact"]{
    color: #fff;
}
.col-md-3:hover{
    opacity: 0.3;
}
.col-md-3 img{
    width: 300px;

}





