* {
    margin: 0;
    padding: 0;

}

.image{
    background-image: url(../img/assets/backgrounds/h_img.jpg);
    padding: 150px;
    margin: 70px;
    background-position: center;
    background-size: 100%,100%;
    background-repeat: no-repeat;

}
h1{
    text-align: center;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 70px;

}
p{
    text-align: center;
    color: #fff;
    font-size: 12px;
}
img[class="img1"]{
    margin-left: 45%;
    margin-top: 10%;
    margin-bottom: 5%;
}

